@mixin montserrat() {
  font-family: 'Montserrat', sans-serif;
}

@mixin h1() {
  font-size: 10.4rem;
  line-height: 10.4rem;
  font-weight: 900;
}

@mixin h2() {
  font-size: 4.8rem;
  line-height: 7.2rem;
  font-weight: 600;
}

@mixin h3() {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 400;
}

@mixin h4() {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}

@mixin text-normal() {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
}

@mixin text-small() {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
}

@mixin text-small-bold() {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
}
